body {
    background-color: black;
    
}

.navbar {
    background-color: #ffc810;


}

main {
    margin-top: 100px;
}

.nav-text {
    font-family: 'Grand Hotel', cursive;
    font-size: 30px;
}

.sign-btn {
    color: #ffc810;
    border-color: black;
    background-color: black;
    
}

.passwordReset {
    text-decoration: underline;
    color: black;
}

.enter-btn {
    color: black;
    border-color: #ffc810;
    background-color: #ffc810;
    width: 100%;
}

.signUp-btn {
    color: #ffc810;
    border-color: black;
    background-color: black;
    width: 100%;

}

.signUp-btn a {
    text-decoration: none;
    color: #ffc810;

}

.signUp-btn:hover {
    background-color: #ffc810;
    color: black;
    width: 100%;
    
}

.signUp-btn a:hover {
    text-decoration: none;
    color: black;

}

.searchArea {
    color: #ffc810;
    background-color: #131313;
    width: 60%;
}

.memberSearch {
    color: #ffc810;
    min-width: 600px;
    background-color: #131313;

}

.poster {
    display: block;
    margin: 5px auto;
    min-width: 50%;
    max-width: 100%;

}

.lets-btn {
    color: black;
    background-color: #ffc810;
    border: none;
    
}

.lets-btn:hover {
    color: #ffc810;
    background-color: black;
    border-color: #ffc810;
}

.send-btn {
    color: black;
    border-color: #ffc810;
    background-color: #ffc810;
    width: 100%;
    
}

.drop-btn {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 155px;
}

.movieTitle {
    opacity: 0%;
}

.movieTitle:hover {
    opacity: 100%;
    
    
}


footer {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    padding-top: 10px;
    background-color: #ffc810;
    color: black;
    margin-bottom: 0px;
    width: 100%;
    box-sizing: border-box;
  }

@media (max-width: 850px) {

    .sign-btn {
        width: 100%;
    }

    .search-btn {
        width: 100%;
    }


    .memberSearch {
        min-width: auto;
        padding: 25px;
    }

    .resultArea {
        display: flex;
        flex-flow: column;  
    }

    .dropdown {
        width: 98% !important;
    }

    .dropdown-menu-right {
        left: 0;
        right: auto;
        
    }

    .resultArea {
        display: none;
    
    }

    .drop-btn {
        width: 100%;
    }
}
