body {
    background-color: black;
    
}

main {
    margin-top: 100px;
}

.navbar {
    background-color: #ffc810;
}

.nav-text {
    font-family: 'Grand Hotel', cursive;
    font-size: 30px;
}


.memberSignUp {
    color: #ffc810;
    min-width: 600px;
    background-color: #131313;

}

.logo {
    width: 150px;
}

.send-btn {
    color: black;
    border-color: #ffc810;
    background-color: #ffc810;
    width: 100%;
    margin-top: 32px;
    
}

.lets-btn {
    color: black;
    background-color: #ffc810;
    border: none;
    
}

.lets-btn:hover {
    color: #ffc810;
    background-color: black;
    border-color: #ffc810;
}

.terms {
    text-decoration: none;
    color: #ffc810;
}

.terms:hover{
    color: #ffc810;

}

footer {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    padding-top: 10px;
    background-color: #ffc810;
    color: black;
    margin-bottom: 0px;
    width: 100%;
    box-sizing: border-box;
  }

@media (max-width: 850px) {

    
    .memberSignUp {
        min-width: auto;
    }

    .headForm {
        flex-flow: column;
    }

}